<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link href="/css/register.css" rel="stylesheet"></link>
</head>
<body>

	<h2>新規ユーザー登録</h2>

	<form th:method="post" th:object="${user}"
		th:action="@{/user/register}">

		<div class="set_table">
			<label>名前(VARCHAR):<input type="text" th:field="*{name}"></label><br>
			<label>住所(VARCHAR):<input type="text" th:field="*{address}"></label><br>
			<label>電話番号(VARCHAR):<input type="text" th:field="*{phone}"></label><br>
		</div>

		<button style="width: 100px; margin: 15px 0;">新規作成</button>

	</form>

</body>
</html>