<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update User</title>
<link href="/css/update.css" rel="stylesheet">
</head>
<body>
	<h2>ユーザー情報の更新</h2>
	<form th:method="post" th:action="@{/user/updateName}" th:object="${user}">
		<div>
			<label>ID：<input type="text" th:field="*{id}" /></label> <label
				class="table">名前:<input type="text" th:field="*{name}">
			</label>
		</div>
		<button>名前の更新</button>
	</form>
	<br>

	<form th:method="post" th:action="@{/user/updateAddress}" th:object="${user}">
		<div>
			<label>ID：<input type="text" th:field="*{id}" /></label> <label
				class="table">住所:<input type="text" th:field="*{address}"></label>
		</div>
		<button>住所の更新</button>
	</form>
	<br>

	<form th:method="post" th:action="@{/user/updatePhone}" th:object="${user}">
		<div>
			<label>ID：<input type="text" th:field="*{id}" /></label> <label
				class="table">電話番号:<input type="text" th:field="*{phone}"></label>
		</div>
		<button>電話番号の更新</button>
	</form>
</body>
</html>