@charset "UTF-8";

body {
  width: 90%;
  margin: 0 50px;
  background-color: #dcdcdc;
}
table{
    border-collapse: collapse;
  	font-size: 12px;
  	margin-bottom: 50px;
}
table th, table td {
	width: 500px;
    border: 1px solid #708090;
    padding: 6px;
    background-color: white;
}
table th {
  background-color: #f5deb3;
  width: 30%;
}

.center {
  text-align: center;
}
.create_title {
	font-size: 20px;
}

.form_container {
	width: 300px;
	margin: 15px 0;
}